<section class="login-form">
  <!-- This Login Form takes the Reactive approach unllike the signupform -->
  <!-- FormGroup name has to be the same as you named it in component.ts -->
  <form fxLayout="column" 
        fxLayoutGap="10px" 
        fxLayoutAlign="center center" 
        [formGroup]="loginForm" 
        (ngSubmit)="onSubmit()">


      <h1>Please Log In</h1>
    <mat-form-field>   
             <!--bind the input value via the formControlName - same as in component -->
        <input 
        type="email"
        matInput placeholder="Your email"
        formControlName="email"
        >
        <mat-hint>Please enter a valid e-mail.</mat-hint>
        <mat-error>Invalid email.</mat-error>
        
    </mat-form-field>

    <mat-form-field>
        <input 
        type="password"
        matInput placeholder="Your password"
        formControlName="password">     
         <mat-hint>Please enter your password.</mat-hint>
         <mat-error>Missing password</mat-error>

        </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
  </form>


</section>
